@charset "UTF-8";

@font-face {
    font-family: 'Bebas Neue';
    src: url('Fonts/bebas/Bebas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franchise';
    src: url('../Fonts/franchise_2/Franchise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe';
    src: url('../Fonts/louis_george_cafe/Louis George Cafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sequel';
    src: url('../Fonts/Sequel_Sans/Sequel_Sans/Sequel Sans/Sequel Sans Bold Disp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'southland';
    src: url('../Fonts/southland/Southland TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    --cor1: #575859;
    --cor2: #0F7CBF;
    --cor3: #049DD9;
    --cor4: #05C7F2;
    --cor5: #F2F2F2;
    box-sizing: border-box;
}

body {
    font-family: "Robotto","Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor5);
    color: #333;
}


header {
    background-color: var(--cor5);
    padding: 1rem 0;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav .logo {
    height: 80px;
    transition: height 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: light;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--cor2);
    transition: width 0.3s ease;
    transition-delay: 0.1s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
    background: var(--cor2);
}

nav ul li a:hover {
    color: #114a6d;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle img {
    height: 30px;
}

#nav-popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--cor5);
    padding: 1rem 0;
    text-align: center;
    z-index: 20;
}

#nav-popup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-popup ul li {
    margin: 1rem 0;
}

#nav-popup ul li a {
    text-decoration: none;
    color: #333;
    font-weight: light;
    font-size: 1.2rem;
}

.apresentacao {
    position: relative;
    background-image: url(../Media/images/section3Banner.png);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-presentation {
    font-size: 1.2em;
    width: 50%;
    position: absolute;
    text-align: justify;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.apresentacao-title{
    font-weight: bolder;
    font-size: 4.5em;
}

.apresentacao a{
    display: inline-block;
    padding: 15px;
    background-color: var(--cor5);
    color: var(--cor3);
    border-radius: 10px;
    border: none;
    margin-top: 7px;
    font-size: 1.2em;
    color: var(--cor2);
    text-decoration: none;
    transition: 0.7s;
}

.apresentacao a:hover{
    background-color: var(--cor4);
    color: var(--cor5);
}

.mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.mission-image{
    width: 50%;
}

.mission-image img {
    width: 100%;
    height: auto;
}

.cards{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.text-mission {
    padding-left: 2rem;
    padding: 15px;
    width: 50%;
    text-align: justify;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.133);
    margin-left: 2rem;
    transition: 0.5s;
}

.mission-text{
    color: var(--cor3);
    font-size: 1.2em;
}

.text-mission h2{
    color: var(--cor2);
}

.text-mission:hover {
    box-shadow: 0px 0px 8px #27acff80;
}

.servicos{
    background-color: var(--cor2);
    height: 100vh;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servico-container{
    font-size: 1.2em;
    color: var(--cor5);
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.servicos-first-text{
    margin-bottom: 15px;
}

.servicos-first-text p{
    margin-bottom: -1px;
    background-image: linear-gradient(to left, var(--cor2),var(--cor3));
    box-shadow: 0px 0px 6px #27f8ffb3;
}

.servicos-first-text h2{
   font-weight: bolder;
   font-size: 4.5em;
}

.servicos-ilustracao{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    height: fit-content;
}

.servico-type{
    background-color: var(--cor4);
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #27f8ffb3;
}

.servico-type h2{
    font-weight: bold;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre os itens do portfólio */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc; 
    padding: 20px;
    gap: 20px; 
}

.portfolio-item-text {
    flex: 1 1 50%;
}

.portfolio-item-text p{
    font-size: 1.2em;
    color: var(--cor1);
}

.portfolio-item-text h2{
    font-weight: bolder;
    color: var(--cor3);
    font-size: 5.5em;
}

.portfolio-item-imagem {
    flex: 1 1 50%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.portfolio-item-imagem img {
    max-width: 100%; 
    height: auto; 
}


#portfolio, #contactos {
    padding: 2rem;
    text-align: center;
}

#contactos {
    padding: 3rem 1rem;
    color: var(--cor2);
    text-align: center;
}

footer {
    background-color: var(--cor1);
    color: var(--cor5);
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1300px) {
    .servico-type h2{
        font-size: 1.3em;
    }

    .servico-type p{
        font-size: 0.8em;
    }
}

@media (max-width: 1200px) {
    .servico-type h2{
        font-size: 1.3em;
    }

    .servico-type p{
        font-size: 0.65em;
    }
}

@media (max-width: 910px) {
    .servico-type h2{
        font-size: 1.15em;
    }

    .servico-type p{
        font-size: 0.53em;
    }

    .servicos-ilustracao{
        column-gap: 1.6rem;
    }
}

@media (max-width: 982px) {
    .cards{
        flex-direction: column;
        font-size: 0.8em;
    }
    
    .text-mission {
        width: 60%;
        margin-left: 6.5rem;
        margin-top: 1.2em;
    }
}

@media (max-width:780px){
    .cards{
        font-size: 0.57em;
    }

    .text-mission {
        margin-left: 4.5rem;
        margin-top: 1.2em;
    }

    .servico-type h2{
        font-size: 1em;
    }

    .servico-type p{
        font-size: 0.44em;
    }

    .servicos-ilustracao{
        column-gap: 1rem;
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0c2b27;
    }

    .menu-toggle {
        display: block;
    }

    nav .logo {
        height: 50px;
    }

    #nav-popup.show {
        display: block;
    }

    #servicos {
        height: auto;
        padding: 2rem 1rem;
        font-size: 1em;
    }

    .servico-container {
        flex-direction: column;
    }

    .servico-text, .servico-video {
        max-width: 100%;
        width: 100%;
    }

    .servico-video {
        margin-top: -7px;
    }

    .servico-text {
        margin-bottom: 1rem;
        width: 100%;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .slide .text {
        left: 10%;
        max-width: 80%;
    }
    
    .text-presentation {
        font-size: 1em;
        width: 60%;
    }
    
    .apresentacao-title{
        font-weight: bolder;
        font-size: 1.6em;
    }
    
    .apresentacao a{
        font-size: 0.8em;
    }

    .apresentacao a{
        font-size: 1em;
    }

}

@media (max-width:690px){
    .servicos-ilustracao{
        flex-direction: column;
        row-gap: 0.6rem;
    }
    
    .servico-type h2{
        font-size: 1em;
    }

    .servico-type p{
        margin-top: -15px;
        font-size: 0.5em;
    }

    .servico-type{
        padding: 3px;
    }

    .servicos-first-text h2{
        margin-bottom: -12px;
    }

    .servicos-first-text h2{
        margin-top: -2px;
    }
    

}

/* CSS para telas menores */
@media (max-width: 540px) {
    .mission {
        display: block;
        padding: 2rem;
        margin-bottom:40%;
    }
    
    .mission-image {
        width: 100%;
        position: relative;
    }
    
    .mission-image img {
        width: 100%;
        height: auto;
    }
    
    .cards {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 150%;
        left: 50%;
        width: 50%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -25px;
    }
    
    .text-mission {
        padding: 15px;
        color: var(--cor2);
        width: 100%;
        text-align: justify;
        background-color: white;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.133);
        margin-top: 2rem;
        transition: 0.5s;
    }

    .text-presentation {
        font-size: 0.8em;
        width: 70%;
    }

    .apresentacao a{
        font-size: 0.8em;
    }
}

@media (max-width: 364px) {
    .text-presentation {
        font-size: 0.8em;
        width: 90%;
    }

    .mission{
        margin-bottom:150%;
    }

    .mission-image{
        display: none;
    }
    .cards {
        top: 145%;
        width: 70%;
        margin-left: -33px;
    }

    .servicos-first-text h2{
        font-size: 1.2em;
    }

    .servicos-first-text p{
        font-size: 0.8em;
    }

    .servico-type h2{
        font-size: 0.75em;
    }

    .servico-type p{
        font-size: 0.47em;
    }

}

@media (max-width: 260px) {
    .text-presentation {
        font-size: 0.68em;
        width: 90%;
    }

    .mission{
        margin-bottom:170%;
    }

    .mission-text{
        font-size: 1.1em;
    }


    .servicos-first-text h2{
        font-size: 1.1em;
    }

    .servicos-first-text p{
        font-size: 0.7em;
    }

    .servico-type h2{
        font-size: 0.71em;
    }

    .servico-type p{
        font-size: 0.41em;
    }

}