@charset "UTF-8";

@font-face {
    font-family: 'Bebas Neue';
    src: url('Fonts/bebas/Bebas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franchise';
    src: url('fonts/franchise_2/Franchise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe';
    src: url('Fonts/louis_george_cafe/Louis\ George\ Cafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sequel';
    src: url('Fonts/Sequel_Sans/Sequel_Sans/Sequel Sans/Sequel\ Sans\ Bold\ Disp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'southland';
    src: url('fonts/southland/Southland\ TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montseratt';
    src: url('Fonts/Montseratt/Montserrat-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-sans';
    src: url('Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Onnic';
    src: url('Fonts/Onnic-font/Onnic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Robotto';
    src: url('Fonts/Open_Sans,Roboto/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    --cor1: hsl(203, 73%, 32%);
    --cor2: #105773;
    --cor3: #9DBF21;
    --cor4: #C1D96C;
    --cor5: #F2F2F2;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor5);
    color: #333;
}

header {
    background-color: var(--cor5);
    padding: 1rem 0;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav .logo {
    height: 100px;
    transition: height 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: light;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--cor2);
    transition: width 0.3s ease;
    transition-delay: 0.1s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
    background: var(--cor2);
}

nav ul li a:hover {
    color: #114a6d;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle img {
    height: 30px;
}

#nav-popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--cor5);
    padding: 1rem 0;
    text-align: center;
    z-index: 20;
}

#nav-popup ul {
    list-style-type: none;
    padding: 0;
}

#nav-popup ul {
    list-style-type: none;
    padding: 0;
}

#nav-popup ul li {
    margin: 5px 0;
}

#nav-popup ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#nav-popup ul li a:hover {
    background-color: var(--cor2);
    color: #fff; 
}

main {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden; /* Para garantir que não há scrolling horizontal */
}

#slideshow, #servicos {
    height: 100vh; /* Garante que essas seções ocupem exatamente a altura da janela */
}

#slideshow, #servicos, .mission, .extra-text, .extra, footer {
    overflow: hidden; /* Impede que qualquer conteúdo nessas seções cause overflow */
}


#slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.slide .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: left;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.43);
    padding: 20px;
    border-radius: 10px;
}

.text h2{
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}

.text p{
    color: #eaeaea;
}

#lastSlide .text{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: left;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.1em;
    font-weight: bolder;
}

.text.marketing h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.text.marketing p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    color: #eaeaea;
    text-align: left;
}

.text .btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    font-size: 0.6em;
    background-color: var(--cor1);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: lighter;
}

.text .btn:hover {
    background-color: var(--cor3);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: lighter;
    font-size: 5em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
    font-family: 'cafe';
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    background-color: var(--cor5);
    color: var(--cor2);
    text-align: center;
    padding: 1rem 0;
}

.titles{
    font-weight: bold;
}

#servicos {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    margin-bottom: 60px;
    background-color: var(--cor5);
}

#ourServices{
    color: var(--cor1);
    font-size: 2.2em;
    font-weight: bold;
}

.servico-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servico-container h3{
    font-size: 1.3em;
}

.servico-text {
    position: relative;
    z-index: 1;
    padding: 2rem;
    border-radius: 20px;
    font-size: 1.3em;
    display: flex;
}

.servico-item{
    margin-left: 2.5rem;
    padding: 20px;
    background-color: white;
    width: 50%;
    border-radius: 10px;
}

.servico-text h3{
    color: var(--cor2);
}

.servico-text p{
    color: var(--cor1);
}

.servico-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 3%;
    z-index: 0;
    margin-top: 30px;
}

.pointGroup{
    height: 100vh;
    background-image: url(Media/images/banner3.png);
    background-size: cover;
    background-position: center;
}

.pointGroup-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 25px;
}

.point-item{
    width: 50%;
    margin-top: 2rem;
    color: var(--cor5);
}

.point-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.point-item h2{
    font-size: 2rem;
    font-weight: bold;
}

.point-item p{
    font-size: 1.2rem;
    text-align: justify;
    color: var(--cor2);
}

.point-item h2{
    color: var(--cor1);
}

#sobre-nos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#sobre-nos h3{
    font-size: 2rem;
    color: var(--cor2);
    text-align: center;
}

#pointGroup-h2{
    margin-top: 1.5rem;
}

#contactos {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#pArt:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 85, 255, 0.337);
}

#nMil:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(255, 173, 22, 0.337);
}

#mImov:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 233, 16, 0.337);
}

.card-logo {
    width: 90px;
    height: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.card h4 {
    margin: 0.5rem 0;
    color: var(--cor2);
}

.card p {
    color: #666;
}

.card-details {
    display: none;
    margin-top: 1rem;
    text-align: left;
}

.card.expanded .card-details {
    display: block;
}

#ourServices{
    margin-left: .8rem;
}

.extra{
    height: 50vh;
    background-image: url(Media/images/banner4.jpg);
    background-size: cover;
    background-position: center;
    justify-items: center;
    align-items: center;
}

.extra-text{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: var(--cor1);
    padding-top: 8rem;
    font-weight: bold;
}

#portfolio, #contactos {
    padding: 2rem;
    text-align: center;
}

#contactos .contactos-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: var(--cor2);
}

#contactos h2{
    font-weight: bold;
}

#contactos .contactos-itens {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#contactos .contacto-item {
    display: flex;
    align-items: center;
    text-align: left;
}

#contactos .contacto-item img {
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    width: 24px; /* Largura da imagem */
    height: 24px; /* Altura da imagem */
}

#contactos .contacto-item p {
    margin: 0;
}

.contacto-item{
    font-size: 0.8em;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%);
    }
}

.slide .text {
    opacity: 0;
    animation: fadeInUp 1s forwards;
}

.slide.active .text {
    opacity: 1;
    animation: fadeInUp 1s forwards;
}


@keyframes fadeInUp2 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pointGroup .titles {
    opacity: 0;
    animation: fadeInUp2 1s forwards;
    animation-delay: 0.5s;
}

.pointGroup .textPoint {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.pointGroup .logoPoint {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
}

.pointGroup {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.pointGroup {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.pointGroup.animate {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos para o preloader */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Estilos para o loader */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Ocultar o conteúdo até que seja carregado */
.hidden {
    display: none;
}


@media (max-width: 1300px) {
    .extra-text{
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        top: -2%;
    }

    .extra-text p{
        font-size: 0.9em;
    }

    
}


@media (max-width: 1051px) {
    .pointGroup #pointGroup-h2 {
        font-size: 2.5em;
    }
    
    .pointGroup .textPoint {
        font-size: 1em;
    }
    
    .pointGroup #textPoint3 { 
        font-size: 1em;
    }

    .contacto-item p{
        font-size: 0.86em;
    }

}


@media (max-width: 1002px) {

    .servico-text {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .servico-item{
        margin-left: auto;
        margin-right: auto;
    }

    .servico-text h3{
        font-size: 1em;
    }

    .servico-text p{
        font-size: 0.8em;
    }

}

@media (max-width:968px) {
    
    .pointGroup .textPoint {
        font-size:0.9em;
    }
    
    .point-item h2{ 
        font-size: 1.3em;
    }

    .pointGroup{
        height: 70vh;
    }
    
    #contactos .contactos-itens {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

}

@media (max-width: 832px) {

    .slide .text {
        font-size: 1.3rem;
    }

    .text h2{
        font-size: 1.7em;
    }

    .prev, .next{
        font-size: 3.5em;
    }

    .text.marketing h2 {
        font-size: 2rem;
    }
    
    .text.marketing p {
        font-size: 1.3rem;
    }
    
    .text .btn {
        font-size: 0.5em;
    }
    
}


@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0c2b27;
    }

    .menu-toggle {
        display: block;
    }

    nav .logo {
        height: 50px;
    }

    #nav-popup.show {
        display: block;
    }

    #servicos {
        height: auto;
        padding: 2rem 0rem;
        font-size: 1em;
    }

    .servico-container {
        flex-direction: column;
    }

    .servico-text, .servico-video {
        max-width: 100%;
        width: 100%;
    }

    .servico-video {
        margin-top: -7px;
    }

    .servico-text {
        margin-bottom: 1rem;
        width: 100%;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .slide .text {
        left: 10%;
        max-width: 80%;
    }

    .extra-text{
        width: 55%;
    }

    .extra-text p{
        font-size: 0.7em;
    }

}



@media (max-width: 771px) {
    
    .slide .text {
        font-size: 1.1rem;
    }

    .text h2{
        font-size: 1.4em;
    }

    .prev, .next{
        font-size: 3em;
    }

    .text.marketing h2 {
        font-size: 2rem;
    }
    
    .text.marketing p {
        font-size: 1.2rem;
    }
    
    .text .btn {
        font-size: 0.5em;
    }
    
    #ourServices{
        font-size: 1.6em;
    }
    
    .servico-container h3{
        font-size: 1.4em;
    }
    
    .servico-text {
        font-size: 1em;
    }
    

    .servico-item{
        width: 80%;
    }
    
    .pointGroup .textPoint {
        font-size:0.78em;
    }
    

    
}

@media (max-width:627px) {

    .pointGroup{
        height: fit-content;
    }

    .pointGroup-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .point-item{
        width: 100%;
        margin-top: 0.1rem;
    }
    
    .point-item h2{
        font-size: 1.3rem;
        font-weight: bold;
    }
    
    .point-item p{
        font-size: 1.2rem;
        text-align: justify;
        color: var(--cor2);
    }
    
    .point-item h2{
        color: var(--cor1);
    }

    #sobre-nos h3{
        font-size: 1.3rem;
    }

    #contactos h2{
        font-size: 1.3rem;
    }
}

@media (max-width: 608px) {

    .pointGroup #pointGroup-h2 {
        font-size: 2.1em;
    }
    
    .pointGroup .textPoint {
        font-size:0.8em;
    }
    
    .pointGroup #textPoint3 { 
        font-size: 0.8em;
    }

    .slide .text {
        font-size: 1rem;
    }

    .text h2{
        font-size: 1.4em;
    }

    .prev, .next{
        font-size: 2em;
    }

    .text.marketing h2 {
        font-size: 1.35rem;
    }
    
    .text.marketing p {
        font-size: 0.9rem;
    }
    
    .text .btn {
        font-size: 0.45em;
    }

}

@media (max-width: 553px) {
    
    .pointGroup #pointGroup-h2 {
        font-size: 1.7em;
    }
    
    .text h2{
        font-size: 1em;
    }
    
    .text p{
        font-size: 0.9em;
    }
    
    #lastSlide .text{
        font-size: 0.9em;
    }
    
    .text.marketing h2 {
        font-size: 1.1em;
    }
    
    .text.marketing p {
        font-size: 1em;
    }
    
    .text .btn {
        font-size: 0.7em;
    }
    
    .prev, .next {
        font-size: 1.2em;
    }

    #ourServices{
        font-size: 1.2em;
    }
    
    .servico-container h3{
        font-size: 1.2em;
    }
    
    .servico-text {
        font-size: 0.9em;
    }

    .servico-text h3{
        font-size: 0.98em;
    }

    footer p{
        font-size: 0.8em;
    }
}

@media (max-width:490px) {

    

    #contactos .contactos-itens {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .pointGroup #pointGroup-h2 {
        font-size: 1.7em;
    }
        
    .pointGroup .textPoint {
        font-size:0.75em;
    }
        
    .pointGroup #textPoint3 { 
        font-size: 0.75em;
    }

    .servico-video video {
        border-radius: 20px 0px 0px 20px;
    }

    .extra-text{
        width: 70%;
    }

    .extra-text p{
        font-size: 0.65em;
    }
}

@media (max-width:425px) {
    .pointGroup h2 {
        font-size: 1.4em;
        padding: 0px;
    }
        
    .pointGroup .textPoint {
        padding: 0px;
    }
        
    .servico-item{
        width: 100%;
    }

    .servico-text h2{
        font-size: 0.8em;
    }

    .servico-text p{
        font-size: 0.75em;
    }
}

@media (max-width:330px) {


    .extra-text{
        width: 80%;
    }

    .extra-text p{
        font-size: 0.65em;
    }

    .servico-text h2{
        font-size: 0.75em;
    }

    .servico-text p{
        font-size: 0.7em;
    }

    .pointGroup h2 {
        font-size: 1.2em;
    }
        
    .pointGroup .textPoint {
        font-size:0.65em;
    }
        
    .text.marketing h2 {
        font-size: 0.95em;
    }
    
    .text.marketing p {
        font-size: 0.9em;
        text-align: justify;
    }
    
    .text .btn {
        font-size: 0.8em;
    }
}

@media (max-width:290px) {
        
    .pointGroup .textPoint {
        font-size:0.6em;
    }
        
}

@media (max-width:245px) {
        
    .pointGroup .textPoint {
        font-size:0.58em;
    }
        
}


