@charset "UTF-8";

@font-face {
    font-family: 'Bebas Neue';
    src: url('Fonts/bebas/Bebas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franchise';
    src: url('fonts/franchise_2/Franchise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe';
    src: url('Fonts/louis_george_cafe/Louis\ George\ Cafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sequel';
    src: url('Fonts/Sequel_Sans/Sequel_Sans/Sequel Sans/Sequel\ Sans\ Bold\ Disp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'southland';
    src: url('fonts/southland/Southland\ TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montseratt';
    src: url('Fonts/Montseratt/Montserrat-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-sans';
    src: url('Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Onnic';
    src: url('Fonts/Onnic-font/Onnic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Robotto';
    src: url('Fonts/Open_Sans,Roboto/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    --cor1: #165F8C;
    --cor2: #105773;
    --cor3: #9DBF21;
    --cor4: #C1D96C;
    --cor5: #F2F2F2;
    box-sizing: border-box;
}

body {
    font-family: "Robotto","Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor5);
    color: #333;
}

header {
    background-color: var(--cor5);
    padding: 1rem 0;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav .logo {
    height: 100px;
    transition: height 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: light;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--cor2);
    transition: width 0.3s ease;
    transition-delay: 0.1s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
    background: var(--cor2);
}

nav ul li a:hover {
    color: #114a6d;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle img {
    height: 30px;
}

#nav-popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--cor5);
    padding: 1rem 0;
    text-align: center;
    z-index: 20;
}

#nav-popup ul {
    list-style-type: none;
    padding: 0;
}

#nav-popup ul {
    list-style-type: none;
    padding: 0;
}

#nav-popup ul li {
    margin: 5px 0;
}

#nav-popup ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#nav-popup ul li a:hover {
    background-color: var(--cor2);
    color: #fff; 
}

main {
    margin: 0;
    padding: 0;
}

#slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.slide .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: left;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.43);
    padding: 20px;
    border-radius: 10px;
}

.text h2{
    text-align: left;
    font-size: 2.2em;
    font-weight: bolder;
}

.text p{
    color: #eaeaea;
}

#lastSlide .text{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: left;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.1em;
    font-weight: bolder;
}

.text.marketing h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.text.marketing p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
    color: #eaeaea;
    text-align: left;
}

.text .btn {
    display: inline-block;
    padding: 0.2rem 1.2rem;
    font-size: 0.6em;
    background-color: var(--cor1);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.text .btn:hover {
    background-color: var(--cor3);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-size: 2.1em;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    background-color: var(--cor5);
    color: var(--cor2);
    text-align: center;
    padding: 1rem 0;
}

.titles{
    font-weight: bolder;
}

#servicos {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    margin-bottom: 30px;
    background-image: url(Media/images/art13.jpeg);
    background-size: cover;
    background-position: center;
}

#ourServices{
    color: white;
    font-size: 2.2em;
    font-weight: bolder;
}

.servico-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servico-container h3{
    font-size: 2.1em;
}

.servico-text {
    position: relative;
    z-index: 1;
    padding: 2rem;
    background-color: #00000085;
    border-radius: 20px;
    font-size: 1.5em;
}

.servico-text p{
    color: #eaeaea;
}

.servico-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 3%;
    z-index: 0;
    margin-top: 30px;
}

.pointGroup{
    display: flex;
    flex-direction: row;
    height: 70vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 30px;
    
}

.logoPoint{
    width: 100%;
    height: 100%;
}

.logoPoint img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pointGroup p{
    font-size: 1.4em;
}

#pointGroup-h2{
    font-weight: bolder;
    color: var(--cor2);
    font-weight: bolder;
    font-size: 3.2em;
    font-family: 'Sequel';
}

#sobre-nos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#pointGroup-h2{
    margin-top: 1.5rem;
}

#contactos {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#pArt:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 85, 255, 0.337);
}

#nMil:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(255, 173, 22, 0.337);
}

#mImov:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 233, 16, 0.337);
}

.card-logo {
    width: 90px;
    height: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.card h4 {
    margin: 0.5rem 0;
    color: var(--cor2);
}

.card p {
    color: #666;
}

.card-details {
    display: none;
    margin-top: 1rem;
    text-align: left;
}

.card.expanded .card-details {
    display: block;
}

#ourServices{
    margin-left: .8rem;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%);
    }
}

.slide .text {
    opacity: 0;
    animation: fadeInUp 1s forwards;
}

.slide.active .text {
    opacity: 1;
    animation: fadeInUp 1s forwards;
}


@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0c2b27;
    }

    .menu-toggle {
        display: block;
    }

    nav .logo {
        height: 50px;
    }

    #nav-popup.show {
        display: block;
    }

    #servicos {
        height: auto;
        padding: 2rem 1rem;
        font-size: 1em;
    }

    .pointGroup{
        display: flex;
        flex-direction: row;
        height: 70vh;
        background-color: white;
        padding: 50px;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    
    .logoPoint{
        width: 100%;
        height: 100%;
    }
    
    .logoPoint img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .pointGroup p{
        font-size: 1.4em;
    }
    .servico-container {
        flex-direction: column;
    }

    .servico-text, .servico-video {
        max-width: 100%;
        width: 100%;
    }

    .servico-video {
        margin-top: -7px;
    }

    .servico-text {
        margin-bottom: 1rem;
        width: 90%;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .slide .text {
        left: 10%;
        max-width: 80%;
    }
}




@media (max-width: 715px) {
    .pointGroup {
        display: block;
        height: 70vh;
        background-color: white;
        padding: 50px;
        border-radius: 15px;
        margin-bottom: 30px;
        margin-top: -30px;
        position: relative;
        width: 100%;
    }

    .pointGroup #pointGroup-h2 {
        margin-top: -5px;
        position: relative;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.7); 
        padding: 20px; 
        border-radius: 10px; 
    }

    .pointGroup .textPoint {
        position: relative;
        z-index: 10;
        color: #000; 
        background-color: rgba(255, 255, 255, 0.7); 
        padding: 20px; 
        border-radius: 10px; 
    }

    .logoPoint {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .logoPoint img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

@media (max-width: 418px) {
   
    .pointGroup #pointGroup-h2 {
        margin-top: -5px;
        position: relative;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.7); 
        padding: 20px; 
        border-radius: 10px; 
        margin-top: -20px;
        font-size: 1.8em;
    }

    .pointGroup .textPoint {
        position: relative;
        z-index: 10;
        color: #000; 
        background-color: rgba(255, 255, 255, 0.7); 
        padding: 20px; 
        border-radius: 10px; 
        font-size: 1.1em;
    }

}

@media (max-width: 771px) {
    
    .text h2{
        text-align: left;
        font-size: 1em;
        font-weight: bolder;
    }
    
    .text p{
        color: #eaeaea;
        font-size: 0.6em;
    }
    
    #lastSlide .text{
        font-size: 1.1em;
    }
    
    .text.marketing h2 {
        font-size: 1.1em;
        font-weight: bolder;
    }
    
    .text.marketing p {
        font-size: 0.9em;
        font-weight: lighter;
        color: #eaeaea;
    }
    
    .text .btn {
        font-size: 1em;
    }
    
    .prev, .next {
        font-size: 1.2em;
    }
    
    #ourServices{
        font-size: 1.6em;
    }
    
    .servico-container h3{
        font-size: 1.4em;
    }
    
    .servico-text {
        font-size: 1em;
    }
    
}

@media (max-width: 460px) {
    
    .text h2{
        font-size: 0.8em;
    }
    
    .text p{
        color: #eaeaea;
        font-size: 0.6em;
    }
    
    #lastSlide .text{
        font-size: 1.1em;
    }
    
    .text.marketing h2 {
        font-size: 1em;
    }
    
    .text.marketing p {
        font-size: 0.8em;
    }
    
    .text .btn {
        font-size: 0.7em;
    }
    
    .prev, .next {
        font-size: 1.2em;
    }

    #ourServices{
        font-size: 1.2em;
    }
    
    .servico-container h3{
        font-size: 1.2em;
    }
    
    .servico-text {
        font-size: 0.7em;
    }
}
